---
---

@import "{{ site.theme }}";

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 300;
  color:#222222;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-shadow: #111 0px 0px 10px;
}

h2 {
  font-size: 24px;
}
